<!-- Header/Home -->
<header class="container padding-32 center black" id="home">
  <h1 class="jumbo"><span class="hide-small">I'm</span> Simon Le Serve Porcella.</h1>
  <p>Photographer, Web Designer, Software Engineer.</p>
  <img src="/assets/images/man_camera.jpg" alt="me" class="image" width="992" height="1108">
</header>

<!-- About Section -->
<div class="content justify text-grey padding-64" id="about">
  <h2 class="text-light-grey">About Me</h2>
  <hr style="width:200px" class="opacity">
  <p>By day I work at NAB as a software engineer. By night I explore the creative worlds of Photography
    3D modelling, animation, music, and work on numerous web and software projects. I started programming at 10 yrs old
    and studied Computer Science, Mathematics and Philosophy at the University of Wollongong graduating in
    2001.
    I am a passionate photographer and creative thinker. I like to explore new ideas and reduce complex
    problems to simple ideas.
    I hold a number of Microsoft Certifications in Software Development including MCSD,
    and am currently studying for Microsoft Certification in Azure Architecture.
    I live and work in Melbourne Australia
  </p>
  <h3 class="padding-16 text-light-grey">My Skills</h3>
  <p class="wide">Photography</p>
  <div class="white">
    <div class="dark-grey" style="height:28px;width:95%"></div>
  </div>
  <p class="wide">Web Design</p>
  <div class="white">
    <div class="dark-grey" style="height:28px;width:85%"></div>
  </div>
  <p class="wide">Software Architecture & Engineering</p>
  <div class="white">
    <div class="dark-grey" style="height:28px;width:100%"></div>
  </div><br>

  <div class="row center padding-16 section light-grey">
    <div class="quarter section">
      <span class="xlarge">11+</span><br>
      Partners
    </div>
    <div class="quarter section">
      <span class="xlarge">55+</span><br>
      Projects Done
    </div>
    <div class="quarter section">
      <span class="xlarge">89+</span><br>
      Happy Clients
    </div>
    <div class="quarter section">
      <span class="xlarge">150+</span><br>
      Meetings
    </div>
  </div>

  <!-- Testimonials -->
  <h3 class="padding-24 text-light-grey">My Reputation</h3>
  <img src="/assets/images/andrew_badge.jpg" alt="Avatar" class="left circle margin-right" style="width:80px">
  <p><span class="large margin-right">Andrew Badge.</span> Lead Architect Fred IT Group.</p>
  <p>Simon's attention to detail on his designs, technical knowledge and innovations have always been well loved
    making our products very successful.</p><br>

  <button class="button light-grey padding-large section">
    <i class="fa fa-download"></i> Download Resume
  </button>
</div>