  <!-- Portfolio Section -->
  <div class="padding-64 content" id="product">
      <h2 class="text-light-grey">Product</h2>
      <hr style="width:200px" class="opacity">
  
      <!-- Grid for photos -->
      <div class="row-padding" style="margin:0 -16px">
        <div class="half">
          <img src="../../assets/images/product_photography/product_ (1).jpg" style="width:100%">
          <img src="../../assets/images/product_photography/product_ (2).jpg" style="width:100%">
          <img src="../../assets/images/product_photography/product_ (3).jpg" style="width:100%">
          <img src="../../assets/images/product_photography/product_ (4).jpg" style="width:100%">
          <img src="../../assets/images/product_photography/product_ (5).jpg" style="width:100%">
        </div>
  
        <div class="half">
          <img src="../../assets/images/product_photography/product_ (6).jpg" style="width:100%">
          <img src="../../assets/images/product_photography/product_ (7).jpg" style="width:100%">
          <img src="../../assets/images/product_photography/product_ (8).jpg" style="width:100%">
          <img src="../../assets/images/product_photography/product_ (9).jpg" style="width:100%">
          <img src="../../assets/images/product_photography/product_ (10).jpg" style="width:100%">
        </div>
        <!-- End photo grid -->
      </div>
      <!-- End Portfolio Section -->
    </div>