<app-sidebar></app-sidebar>
<!-- Page Content -->
<div class="padding-large" id="main">
    <router-outlet></router-outlet>
    <!-- END PAGE CONTENT -->
    <!-- Footer -->
    <footer class="content padding-64 text-grey xlarge">
        <a href="https://www.facebook.com/profile.php?id=100006142909081" target="_blank"><i
                class="fa fa-facebook-official hover-opacity"></i></a>
        &nbsp;
        <a href="https://www.instagram.com/simonleserve/" target="_blank"><i
                class="fa fa-instagram hover-opacity"></i></a>
        &nbsp;
        <!-- <i class="fa fa-snapchat hover-opacity"></i> -->
        <!-- <i class="fa fa-pinterest-p hover-opacity"></i> -->
        <a href="https://twitter.com/cognitivefeed" target="_blank"><i class="fa fa-twitter hover-opacity"></i></a>
        &nbsp;
        <a href="https://www.linkedin.com/in/simon-leserve/" target="_blank">
            <i class="fa fa-linkedin hover-opacity"></i></a>
        &nbsp;
        <!-- End footer -->
    </footer>
</div>