<!-- Products Section -->
<div class="content justify text-grey padding-64" id="products">
  <!-- Grid for pricing tables -->
  <h3 class="padding-16 text-light-grey">Products</h3>

  <h4  class="padding-16 text-light-grey">Web Applications</h4>
  <div class="row-padding" style="margin:0 -16px">
    <div class="half margin-bottom">
      <ul class="ul white center opacity hover-opacity-off">
        <li class="dark-grey xlarge padding-32">Basic</li>
        <li class="padding-16">Web Design</li>
        <!-- <li class="padding-16">Photography</li> -->
        <!-- <li class="padding-16">5GB Storage</li> -->
        <!-- <li class="padding-16">Mail Support</li> -->
        <li class="padding-16">
          <h2>$ 10</h2>
          <span class="opacity">per month</span>
        </li>
        <li class="light-grey padding-24">
          <button class="button white padding-large hover-black">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="half">
      <ul class="ul white center opacity hover-opacity-off">
        <li class="dark-grey xlarge padding-32">Pro</li>
        <li class="padding-16">Web Design</li>
        <!-- <li class="padding-16">Photography</li> -->
        <!-- <li class="padding-16">50GB Storage</li> -->
        <!-- <li class="padding-16">Endless Support</li> -->
        <li class="padding-16">
          <h2>$ 25</h2>
          <span class="opacity">per month</span>
        </li>
        <li class="light-grey padding-24">
          <button class="button white padding-large hover-black">Sign Up</button>
        </li>
      </ul>
    </div>
    <!-- End Grid/Pricing tables -->
  </div>

</div>