  <!-- Portfolio Section -->
  <div class="padding-64 content" id="portrait">
      <h2 class="text-light-grey">Portrait</h2>
      <hr style="width:200px" class="opacity">
  
      <!-- Grid for photos -->
      <div class="row-padding" style="margin:0 -16px">
        <div class="half">
          <img src="../../assets/images/kevin.jpg" style="width:100%">
          <img src="../../assets/images/melodie.jpg" style="width:100%">
          <img src="../../assets/images/persian_girl.jpg" style="width:100%">
          <img src="../../assets/images/robert_and_kevin.jpg" style="width:100%">
        </div>
  
        <div class="half">
          <img src="../../assets/images/robert.jpg" style="width:100%">
          <img src="../../assets/images/kevin_ii.jpg" style="width:100%">
          <img src="../../assets/images/sandra.jpg" style="width:100%">        
        </div>
        <!-- End photo grid -->
      </div>
      <!-- End Portfolio Section -->
    </div>